body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("lasertag.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.box{
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
}

input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: #444;
    border: 3px solid #a50559;
    background: #fff url("lupa.png") no-repeat 9px center;
    width: 60px;
    transition: all .5s;
}

input.src:hover{
    width: 180px;
    background-color: #fff;
    border-color: #8c10b3;
    box-shadow: 0 0 5px #6dcff680;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    height: 70px;
    background-color: #092327;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.contedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 15px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"], input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}

@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}